{% extends 'base.html' %}

{% block content %}


{%load static %}

{% load l10n %}

<!--PAGE CONTENT BEGINS-->

<div class="row-fluid">
    <h3 class="header smaller lighter blue">jQuery dataTables</h3>
    <div class="table-header">
        Results for "Latest Registered Domains"
        <span class="pull-right action-buttons">

            <button class="btn btn btn-minier">
                <i class="icon-print"></i>
                Export PDF
            </button>
            <button class="btn btn btn-minier">
                <i class="icon-print"></i>
                Export Excel
            </button>
            <button class="btn btn btn-minier">
                <i class="icon-print"></i>
                Export CSV 
            </button>
        </span>
    </div>

    <table id="items_tableAR" class="table span12 table-striped table-bordered table-hover"  >
        <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Item Account</th>
                <th>Item Station</th>
                <th>Item Department</th>
                <th>Item Name</th>
                <th>Depreciation Type</th>
                <th>Depreciation Rate</th>
                <th>Depreciation Date</th>
                <th>Item Serial No.</th>
                <th>Item Make & Model</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% if objs %}
        <tbody>
            {% for obj in objs %}
            <tr>

                <td class="center">
                    <label>
                        <input type="checkbox" />
                        <span class="lbl"></span>
                    </label>
                </td>
                <td >{{obj.YearNow}}</td>
                <td >{{obj.QuarterNow}}</td>
                <td >{{obj.item_account}}</td>
                <td >{{obj.item_station}}</td>
                <td >{{obj.item_department}}</td>
                <td >{{obj.item_name_asset}}</td>
                <td >{{obj.depreciation_type}}</td>
                <td >{{obj.depreciation_rate}}</td>
                <td >{{obj.depreciation_date}}</td>
                <td >{{obj.item_serial_no}}</td>
                <td >{{obj.item_make_model}}</td>
                <td >{{obj.item_description}}</td>


                <td class="badge badge-inverse ">
                    <span class="money">{{obj.item_cost}}</span>
                </td>
                <td class="td-actions">
                    <div class="hidden-phone visible-desktop action-buttons">
                        <a class="blue" href="#">
                            <i class="icon-zoom-in bigger-130"></i>
                        </a>

                        <a class="green" href="{% url 'AssetsRegistry:update_item_url' obj.id %}">
                            <i class="icon-pencil bigger-130"></i>
                        </a>

                        <a class="red" href="{% url 'AssetsRegistry:delete_item_url' obj.id %}">
                            <i class="icon-trash bigger-130"></i>
                        </a>
                    </div>

                    <div class="hidden-desktop visible-phone">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-caret-down icon-only bigger-120"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                        <span class="blue">
                                            <i class="icon-zoom-in bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'AssetsRegistry:update_item_url' obj.id %}" class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                            <i class="icon-edit bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'AssetsRegistry:delete_item_url' obj.id %}" class="tooltip-error" data-rel="tooltip" title="Delete">
                                        <span class="red">
                                            <i class="icon-trash bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>


{% endblock %}