{% extends 'base.html' %}

{% block content %}


{%load static %}
{% load l10n %}

<!--PAGE CONTENT BEGINS-->


<div class="row-fluid">
	<h3 class="header smaller lighter blue">Genaral Ledger</h3>
	<div class="table-header">
		Results for "Latest Ledgers Items"
		<span class="pull-right action-buttons">
			<a href="{% url 'GeneralLedger:export_pdf_url' %}">
				<button class="btn btn btn-minier">
					<i class="icon-print"></i>
					Export PDF
				</button>
			</a>
			<a href="">
				<button class="btn btn btn-minier">
					<i class="icon-print"></i>
					Export Excel
				</button>
			</a>
			<a href="">
				<button class="btn btn btn-minier">
					<i class="icon-print"></i>
					Export CSV 
				</button>
			</a>	
		</span>
		
	</div>

	<table id="items_table" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="center">
					<label>
						<input type="checkbox" />
						<span class="lbl"></span>
					</label>
				</th>
				<th>Year</th>
				<th>Quarter</th>
				<th>Item Category</th>
				<th>Item Name</th>
				<th>Notes</th>

				<th>Amount</th>
				<th>Actions</th>
			</tr>
		</thead>
		{% if objs %}
		<tbody>
			{% for obj in objs %}
			<tr>
				<td class="center">
					<label>
						<input type="checkbox" />
						<span class="lbl"></span>
					</label>
				</td>
				<td>{{obj.YearNow}}</td>
				<td>{{obj.QuarterNow}}</td>
				<td>{{obj.item_category}}</td>
				<td>{{obj.item_name}}</td>
				<td>{{obj.notes}}</td>
				<td class="badge badge-inverse ">
					<span class="money">{{obj.Amount}}</span>
				</td>
				<td class="td-actions">
					<div class="hidden-phone visible-desktop action-buttons">
						<a class="blue" href="#">
							<i class="icon-zoom-in bigger-130"></i>
						</a>

						<a class="green" href="{% url 'GeneralLedger:update_item_url' obj.id %}">
							<i class="icon-pencil bigger-130"></i>
						</a>

						<a class="red" href="{% url 'GeneralLedger:delete_item_url' obj.id %}">
							<i class="icon-trash bigger-130"></i>
						</a>
					</div>

					<div class="hidden-desktop visible-phone">
						<div class="inline position-relative">
							<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
								<i class="icon-caret-down icon-only bigger-120"></i>
							</button>

							<ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
								<li>
									<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
										<span class="blue">
											<i class="icon-zoom-in bigger-120"></i>
										</span>
									</a>
								</li>

								<li>
									<a href="{% url 'GeneralLedger:update_item_url' obj.id %}" class="tooltip-success" data-rel="tooltip" title="Edit">
										<span class="green">
											<i class="icon-edit bigger-120"></i>
										</span>
									</a>
								</li>

								<li>
									<a href="{% url 'GeneralLedger:delete_item_url' obj.id %}" class="tooltip-error" data-rel="tooltip" title="Delete">
										<span class="red">
											<i class="icon-trash bigger-120"></i>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table>
</div>





<!--PAGE CONTENT ENDS-->


{% endblock %}